html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: lightgray;
}

.paddle1,.paddle2 {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: red;
    left: 50px;
}